services:
  db_auth:
    image: postgres:16
    container_name: db_auth
    restart: unless-stopped
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d auth"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
        - app-network

  auth:
    image: santiagojhs/auth:latest
    container_name: auth
    restart: unless-stopped
    depends_on:
      db_auth:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql://user:pass@db_auth:5432/auth"
      JWT_SECRET: "if-at-first-you-don't-succeed-dust-yourself-off-and-try-again"
    ports:
      - "3000:3000"
    command: sh -c "npx prisma migrate deploy && npx ts-node prisma/seed.ts && npm run start:dev"
    networks:
      - app-network

  db_users:
    image: postgres:16
    container_name: db_users
    restart: unless-stopped
    environment:
      POSTGRES_DB: db_users
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db_users"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
        - app-network

  users:
    build:
      context: .
      dockerfile: Dockerfile.users
    container_name: users
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql://user:pass@db_users:5432/db_users
    depends_on:
      db_users:
        condition: service_healthy
    ports:
      - "3001:3000"
      - "50051:50051"
    command: sh -c "npx prisma migrate deploy && npm run start:dev"
    networks:
      - app-network


  # TELEMETRY SERVICE
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass
      MONGO_INITDB_DATABASE: telemetry
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - app-network

  telemetry:
    build:
      context: .
      dockerfile: Dockerfile.telemetry
    container_name: telemetry
    restart: unless-stopped
    environment:
      - MONGODB_URI=mongodb://admin:pass@mongodb:27017/telemetry?authSource=admin
      - PORT=3000
    depends_on:
      mongodb:
        condition: service_healthy
    ports:
      - "3002:3000"
      - "50052:50052"
    command: npm run start:dev
    networks:
      - app-network

  # DRIVERS

  db_drivers:
    image: postgres:16
    container_name: db_drivers
    restart: unless-stopped
    environment:
      POSTGRES_DB: db_drivers
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db_drivers"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
        - app-network

  drivers:
    build:
      context: .
      dockerfile: Dockerfile.drivers
    container_name: drivers
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql://user:pass@db_drivers:5432/db_drivers
    depends_on:
      db_drivers:
        condition: service_healthy
    ports:
      - "3003:3000"
      - "50053:50052"
    command: sh -c "npx prisma migrate deploy && npm run start:dev"
    networks:
      - app-network

  
networks:
  app-network:
    driver: bridge